/* Here is your custom css styles. */
* {
  cursor: url("miku1.png"), auto !important;
}
:active {
  cursor: url("pointer.cur"), auto !important;
}
@font-face{
    font-family: 'myFont';
    src: url('../font/Y-B008YeZiGongChangDanDanHei-2.ttf');
}

body{
    font-family: 'myFont';
}
